<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/templates/404styles.css" />
    <title>Fuck Your Day</title>
    <script language="JavaScript" type="text/javascript">
      setTimeout(function () {
        location.replace("https://fuckyour.day/");
      }, 7000);
      setTimeout(7000);
    </script>
  </head>
  {% block body %}
  <div>
    <h1>404</h1>
    <h2>You're so lost.</h2>
    <p>
      <br />One of us has made a mistake.<br />Hang tight, let's try this again.
    </p>
  </div>
  {% endblock %}
</html>
